.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.header {
  height: 44px;
  text-align: center;
  background-color: pink;
}
.footer {
  height: 44px;
  color: white;
  line-height: 44px;
  text-align: center;
  background-color: #333333;
}
